.jumbotron{
  padding-bottom: 0;
}

.plumbus {
  background: transparent url(/Plumbus.png) no-repeat center;
  padding-bottom:300px;
}

@media (min-width: 768px) {
  .plumbus {
    background: transparent url(/Plumbus.png) no-repeat 73% top;
    background-size:26%;
    padding-bottom:48px;
  }
}

.bg-danger {
  padding: 15px;
}

